<p>ID: {{ usuario.id }}</p>
<p>Usuario: {{ usuario.user }}</p>

<h1>Enviar Solicitação de Amizade para {{ usuario }}</h1>

<form method="post" action="{% url 'send_friend_request' usuario.user %}">
    {% csrf_token %}
    <button type="submit">Enviar Solicitação de Amizade</button>
</form>


<h1>Solicitações de Amizade Pendentes</h1>

  <ul>
    {% for solicitacao in solicitacoes %}
      <li>{{ solicitacao.from_user }} Deseja ser seu amigo.
        <a href="{% url 'accept_friend_request' %}">Aceitar</a> |
        <a href="{% url 'reject_friend_request' %}">Rejeitar</a>
      </li>
    {% endfor %}
  </ul>


{% for friends in usuario.friends.all %}
    <p><strong>Amigos do {{ usuario }}:</strong></p>
    <ul>
        <li>
            {{ friends }}
        </li>
    </ul>
{% endfor %}

